.body {
  background-color: #333333;
  color: #fff;
}

.navbar {
  border-bottom: black 1px solid;
  
  
}




#overlay.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100;
  background-color: rgba(0, 0, 0, 0, 0.8);
}



#home-section.fas{
color:cornflowerblue;
background: #fff;

}



/********* New Arrivals Style *****************/

#content #arrival-header{

 font-family: 'Thasadith', sans-serif;
  
  
}

/********* index blink *****************/

.blinking{
  animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
  1%{     color: white;    }
  0%{    color:black; }
 
  100%{   color: aquamarine;    }
}

/*** index banners ***/

.inner{
  overflow: hidden; 
}

.inner img{
  transition: all 1.5s ease;
}

.inner:hover img{

  transform: scale(1.5);

}

/*****************************************/

.dropdown:hover>.dropdown-menu{
  display: block;

}

/******************Text Animation****************************/

.banner{
  position: relative;
  height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  color: white;

}

.banner:after{
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
}

.banner::before{
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-backface-visibility:translateZ(0) scale(1.0, 1.0);
  -moz-backface-visibility: translateZ(0) scale(1.0, 1.0);
  -ms-backface-visibility: translateZ(0) scale(1.0, 1.0);
  backface-visibility: translateZ(0) scale(1.0, 1.0);
  -webkit-transform:translateZ(0) scale(1.0, 1.0);
  -moz-transform: translateZ(0) scale(1.0, 1.0);
  -ms-transform: translateZ(0) scale(1.0, 1.0);
  -o-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0) scale(1.0, 1.0);
  background-image: url(../images/zoom.jpg);
  -webkit-background-size:cover;
  background-size: cover;
  background-attachment: fixed;
  animation: increase 60s linear 10ms infinite;
  -webkit-transition:all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: -2;
   
}

.banner-text{
  width: 40%;
  align-items: center;
  height: 50%;
  padding: 8% 1%  10%;
  text-align: center;
  font-family: 'Cairo', sans-serif;

}

.banner-text h2{
  text-transform: uppercase;
  font-size: 40px;
  width: 100%;
  background: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;

}
  
@keyframes increase{
  0%{transform:scale(1)}
  10%{transform:scale(1.5)}
  
}
   

/************************************/

.back{
  background-image: url('../images/about-back.png');
}