.body {
  background-color: #333333;
  color: #fff;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  
  
}




#overlay.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100;
  background-color: rgba(0, 0, 0, 0, 0.8);
}



#home-section.fas{
color:cornflowerblue;
background: #fff;

}



/********* New Arrivals Style *****************/

#content #arrival-header{

 font-family: 'Thasadith', sans-serif;
  
  
}

/********* index blink *****************/

.blinking{
  animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
  0%{     color: #000;    }
  49%{    color:rebeccapurple }
  99%{    color:red }
  100%{   color: red    }
}


